@font-face {
  font-family: "Ponter-Bold";
  src: url("font/Ponter-Bold.ttf.woff") format("woff"),
    url("font/Ponter-Bold.ttf.svg#Ponter-Bold") format("svg"),
    url("font/Ponter-Bold.ttf.eot"),
    url("font/Ponter-Bold.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: lighter;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Ponter-Bold";
  background-color: white;
}

/* ~~~~~ NAVIGATION BAR ~~~~~~ */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-navbar {
  justify-content: flex-start;
  flex: 1;
}

.right-navbar {
  justify-content: flex-end;
}

nav li {
  margin-right: 20px;
}

nav li a {
  text-decoration: none;
  color: #000;
}

nav li a:hover {
  text-decoration: underline;
}

/* ~~~~~ COUNTDOWN BANNER SECTION ~~~~~~ */

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow-y: scroll;
  overflow: hidden;
}

.maki-bg {
  background-image: url("images/makiCoverDesktop.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
}

.overlay {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3),
    rgb(157, 157, 157)
  );

  display: flex;
  flex-direction: column;
  height: 100%;
}

.banner {
  flex: 1;
  display: flex;
  place-content: top;
  place-content: start center;
  isolation: isolate;
  position: relative;
}

.banner:after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
}

.banner h2 {
  display: flex;
  justify-content: center;
  margin: 60px 0px 20px 0px;
  font-size: 1.5rem;
}

#banner-section {
  margin-top: 10rem;
}

.countdown-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.timer-container {
  display: flex;
}

.timer-container-values {
  width: 10rem;
  text-align: center;
  justify-content: center;
  font-size: 60px;
  padding: 15x 10px;
  color: rgb(0, 0, 0);
}

.small-text {
  font-size: 15px;
}

/* ~~~~~ POINTER ~~~~~~ */

.scroll-button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.scroll-button a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(40, 35, 105, 0.5);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.scroll-button a:hover {
  transform: translateY(20px);
}

.scroll-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ~~~~~ PRODUCT GALLERY SECTION ~~~~~~ */

.gradient-bg {
  background: rgb(59, 59, 59);
  background: linear-gradient(
    0deg,
    rgba(59, 59, 59, 1) 22%,
    rgba(97, 97, 97, 1) 41%,
    rgba(253, 187, 45, 0) 100%
  );
}

.product-bg {
  background: rgb(59, 59, 59);
  background: linear-gradient(
    0deg,
    rgba(59, 59, 59, 1) 0%,
    rgba(97, 97, 97, 1) 13%,
    rgba(253, 187, 45, 0) 100%
  );
  background-size: cover;
  background-position: center;
}

.product-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper .image-list {
  display: flex;
  gap: 18px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: 10px;
  grid-template-columns: repeat(10, 1fr);
  overflow-y: hidden;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.product-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  background-size: cover;
  background-position: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  grid-auto-rows: 2;
  column-gap: 3rem;
  row-gap: 2rem;
  flex: 1;
  color: white;
  overflow: hidden;
  flex-wrap: wrap;
}

.grid-element {
  background-color: #416165;
  display: grid;
  grid-template-rows: 7.9fr 0fr;
  transition: background-color 0.3s ease;
  transition: transform 0.3 ease-in-out;
}

.grid-element:hover {
  background-color: #3b585c;
  scale: 1.01;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.bg-img:hover {
  opacity: 0.8;
}

#gojoTee > .bg-img {
  background-image: url("images/gojoTee.jpg");
}

#makiTee > .bg-img {
  background-image: url("images/makiTee.jpg");
}

#yutaTee > .bg-img {
  background-image: url("images/yutaTee.jpg");
}

#tojiTee > .bg-img {
  background-image: url("images/tojiTee.jpg");
}

#sukunaTee > .bg-img {
  background-image: url("images/sukunaTee.jpg");
}

.text-content {
  padding: 0 1rem 1rem 1rem;
  font-size: 1rem;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  background: red;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background-color: white;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 2px;
  height: 100%;
  width: 50%;
  background-color: black;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-track:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
}
